.body { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar .exit {
    color: white;
    background-color: red;
}

.mainContainer .content {
    color: white;
}

.mainContainer .content h1 {
    font-size: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnsClass {
    display: grid;
    grid-template-rows: 100px 110px 100px;
    grid-template-columns: .5fr .5fr 1fr;
    gap: 10px;
    margin-top: 40px;
}

.btnOption {
    width: 258px;
    height: 59px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.btnOption:hover {
    background-color: rgb(22, 21, 21);
}
