* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alice";
}

:root {
    --primary-color: #2A3C5D;
    --secondary-color: #010D24;
    --accent-color: #3A4D6C;
    --text-color: #FFFFFF;
    --table-header-bg-color: #4A5C7D;
    --table-row-bg-color: #3A4D6C;
    --table-row-hover-bg-color: #4A5C7D;
}

.transactions-container {
    background-color: var(--accent-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    text-align: center;
    overflow-x: auto;
}

.transactions-container h2 {
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

#transactions-table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-color);
}

#transactions-table th,
#transactions-table td {
    padding: 15px;
    text-align: left;
}

#transactions-table thead {
    background-color: var(--table-header-bg-color);
}

#transactions-table tbody tr {
    background-color: var(--table-row-bg-color);
    transition: background-color 0.3s ease;
}

#transactions-table tbody tr:hover {
    background-color: var(--table-row-hover-bg-color);
}

#transactions-table tbody tr:nth-child(even) {
    background-color: #354661;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .transactions-container {
        padding: 20px;
    }

    #transactions-table th,
    #transactions-table td {
        padding: 10px;
    }
}


